.footer {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  
  .footer-section {
    text-align: center;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  